.cl-1 {
    color: #FA804C;
}

.cl-2 {
    color: #363958;
}

.btn-panda {
    background: linear-gradient(180deg, #585eff -0.01%, #4a13ff 99.99%);
    border-radius: 6px;
    color: #fff;

}

.btn-panda:hover {
    background: linear-gradient(180deg, #4a13ff 99.99%, #585eff -0.01%);
    border-radius: 6px;
    color: #fff;
}

.bg-sad {
    background-color:
        #F1F1F1;
}

.many {
    color: #FA804C;
}

.picc img {
    width: 100px;
}

.pic img {
    width: 600px;
}